.grid {
  width: 440px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

.grid div {
  height: 42px;
  width: 42px;
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
}

.bomb {
  background-color: red;
}

.checked {
  background-color: white;
}